* {
    margin: 0;
    padding: 10px;
    font-family: sans-serif;

}

body {
    background-image: url(https://img.reintech.io/variants/q5bd77yrqxz88jep88qm6re0x2e2/e7b4ce09c703210ab8f75b017c7eaf0951c5a95b737ee8120602845c1c1d944b);
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 10px;
    color: rgb(4, 6, 45);
    font-family: 'cooper black';

}

form {
    float: right;
    max-width: 450px;
    background-color: rgb(194, 193, 193);
    padding: 60px 30px;
    margin-left: 250px;
    margin: auto;
    margin-top: 50px;
    border-radius: 50px;
    background-image: none;


}

label {
    display: block;
    padding: 12px 10px;


}

input {
    box-sizing: border-box;
    padding: 10px 2px;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;



}

.btn {
    padding: 10px 50px;
    border-radius: 80px;
    margin: auto;
    margin: 40px 130px 0px;
    border: none;
    outline: none;


}